<!DOCTYPE html>
<html lang="en">
<head>

  {%- liquid
  render 'vite-tag' with 'main.css'
  render 'vite-tag' with 'main.js'
  -%}

  {{ content_for_header }}
  	<title>{{ shop.name }} - {{ page_title }}</title>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	<title>untitled</title>
	{{ 'blank.css'  | asset_url | stylesheet_tag }}
</head>
<body class="font-sans">
  {{ content_for_layout }}
</body>
</html>